<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.net/NetTiersMap.xsd">
	<Table Id="Book" EntityName="Book" Owner="dbo" PropertyName="Book" FieldName="_book" FriendlyName="Book" IncludeInOutput="true">
		<Column Id="BookId" CSType="System.String" PropertyName="BookId" FieldName="_bookId" FriendlyName="Book Id" IncludeInOutput="true" />
		<Column Id="BookName" CSType="System.String" PropertyName="BookName" FieldName="_bookName" FriendlyName="Book Name" IncludeInOutput="true" />
		<Column Id="Author" CSType="System.String" PropertyName="Author" FieldName="_author" FriendlyName="Author" IncludeInOutput="true" />
		<Column Id="PublisherId" CSType="System.String" PropertyName="PublisherId" FieldName="_publisherId" FriendlyName="Publisher Id" IncludeInOutput="true" />
		<Column Id="BookCategoryId" CSType="System.String" PropertyName="BookCategoryId" FieldName="_bookCategoryId" FriendlyName="Book Category Id" IncludeInOutput="true" />
		<Column Id="YearPublisher" CSType="System.String" PropertyName="YearPublisher" FieldName="_yearPublisher" FriendlyName="Year Publisher" IncludeInOutput="true" />
		<Column Id="Quantity" CSType="System.Int32?" PropertyName="Quantity" FieldName="_quantity" FriendlyName="Quantity" IncludeInOutput="true" />
		<Column Id="Description" CSType="System.String" PropertyName="Description" FieldName="_description" FriendlyName="Description" IncludeInOutput="true" />
	</Table>
</NetTiersMap>
